.input-group-text {
  /*border: none !important;*/
  background: transparent !important;
}

.eye-icon {
  position: "absolute";
  right: "10px";
  top: "50%";
  transform: "translateY(-50%)";
  cursor: "pointer";
  color: "#495057";
}
